.heading {
  margin-bottom: 22px;
  color: white;
}

.text {
  margin-top: 24px;
  line-height: 2.5;
}

.footer-column {
  width: 11.33333%;
  font-size: 1rem;
  line-height: 2;
}

@media only screen and (min-device-width: 1080px) {
  .col-lg-5 {
    padding-right: 200px;
  }
}
